In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

#### Problem 1.1 Import the csv file of the stock you have been allotted using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [2]:
itc_df = pd.read_csv('ITC.csv')

In [3]:
itc_df.shape

(496, 15)

In [4]:
itc_df['Series'].value_counts()

EQ    494
BL      2
Name: Series, dtype: int64

In [5]:
itc = itc_df[itc_df['Series'] == 'EQ']

In [6]:
itc.shape

(494, 15)

In [7]:
itc.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
491,ITC,EQ,07-May-2019,307.00,308.25,309.50,300.85,302.45,301.90,305.31,8655871,2.642695e+09,99220,4557484,52.65
492,ITC,EQ,08-May-2019,301.90,300.00,303.40,298.65,300.60,300.65,301.46,7876031,2.374343e+09,104147,4687591,59.52
493,ITC,EQ,09-May-2019,300.65,299.40,301.30,296.35,299.85,299.85,299.17,10223616,3.058551e+09,129794,5965688,58.35
494,ITC,EQ,10-May-2019,299.85,300.00,300.45,296.90,297.15,297.75,298.68,6904657,2.062297e+09,132469,4024203,58.28
495,ITC,EQ,13-May-2019,297.75,295.10,303.50,287.70,288.80,289.30,296.21,35880558,1.062813e+10,226154,14476904,40.35

In [8]:
itc.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,281.522166,281.953644,284.515283,279.015789,281.528239,281.551215,281.704109,1.207847e+07,3.418864e+09,100862.809717,7.576228e+06,62.907874
std,17.712189,17.797800,18.318535,17.315735,17.726871,17.713156,17.652603,9.568840e+06,2.776675e+09,49551.623372,5.795891e+06,8.987614
min,251.600000,250.000000,253.250000,250.000000,251.350000,251.600000,251.960000,9.571390e+05,2.678039e+08,10947.000000,5.829560e+05,34.830000
25%,267.662500,268.000000,270.637500,265.962500,267.750000,267.662500,267.937500,7.702920e+06,2.125598e+09,71392.000000,4.655912e+06,56.497500
50%,277.525000,278.925000,281.300000,275.250000,277.725000,277.675000,278.305000,9.834132e+06,2.753484e+09,92859.500000,6.334610e+06,63.295000
75%,293.375000,294.100000,295.687500,291.000000,293.187500,293.375000,293.187500,1.339486e+07,3.817617e+09,117500.250000,8.795104e+06,69.432500
max,342.500000,346.000000,367.700000,340.300000,342.800000,342.500000,344.040000,1.494797e+08,4.254992e+10,667965.000000,8.629348e+07,86.810000

In [9]:
itc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 495
Data columns (total 15 columns):
Symbol                    494 non-null object
Series                    494 non-null object
Date                      494 non-null object
Prev Close                494 non-null float64
Open Price                494 non-null float64
High Price                494 non-null float64
Low Price                 494 non-null float64
Last Price                494 non-null float64
Close Price               494 non-null float64
Average Price             494 non-null float64
Total Traded Quantity     494 non-null int64
Turnover                  494 non-null float64
No. of Trades             494 non-null int64
Deliverable Qty           494 non-null int64
% Dly Qt to Traded Qty    494 non-null float64
dtypes: float64(9), int64(3), object(3)
memory usage: 61.8+ KB

#### Problem 1.2 Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [10]:
itc[['Date']].duplicated().sum()

0

In [11]:
itc['Date']

0      15-May-2017
1      16-May-2017
2      17-May-2017
3      18-May-2017
4      19-May-2017
5      22-May-2017
6      23-May-2017
7      24-May-2017
8      25-May-2017
9      26-May-2017
10     29-May-2017
11     30-May-2017
12     31-May-2017
13     01-Jun-2017
14     02-Jun-2017
15     05-Jun-2017
16     06-Jun-2017
17     07-Jun-2017
18     08-Jun-2017
19     09-Jun-2017
20     12-Jun-2017
21     13-Jun-2017
22     14-Jun-2017
23     15-Jun-2017
24     16-Jun-2017
25     19-Jun-2017
26     20-Jun-2017
27     21-Jun-2017
28     22-Jun-2017
29     23-Jun-2017
          ...
466    27-Mar-2019
467    28-Mar-2019
468    29-Mar-2019
469    01-Apr-2019
470    02-Apr-2019
471    03-Apr-2019
472    04-Apr-2019
473    05-Apr-2019
474    08-Apr-2019
475    09-Apr-2019
476    10-Apr-2019
477    11-Apr-2019
478    12-Apr-2019
479    15-Apr-2019
480    16-Apr-2019
481    18-Apr-2019
482    22-Apr-2019
483    23-Apr-2019
484    24-Apr-2019
485    25-Apr-2019
486    26-Apr-2019
487    30-Apr-2019
488    02-May-2019
489    03-May-2019
490    06-May-2019
491    07-May-2019
492    08-May-2019
493    09-May-2019
494    10-May-2019
495    13-May-2019
Name: Date, Length: 494, dtype: object

In [12]:
# By observing the data we can say that the date column is sorted as date wise and there is no repeating date 
# so taking last 90 rows will be our 90 days data

last_ninty_days = itc.iloc[-90:]['Close Price']

print('maximum price for the last 90 days:',last_ninty_days.max())
print('minimum price for the last 90 days:',last_ninty_days.min())
print('mean price for the last 90 days   :',last_ninty_days.mean())

maximum price for the last 90 days: 307.2
minimum price for the last 90 days: 274.15
mean price for the last 90 days   : 289.4233333333334

#### Problem 1.3 Analyse the data types for each column of the dataframe. 
Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [13]:
itc['Date'] = itc['Date'].astype(dtype = 'datetime64')

C:\Users\Jesus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
itc[['Date']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 495
Data columns (total 1 columns):
Date    494 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 7.7 KB

In [15]:
itc[['Date']].max() - itc[['Date']].min()

Date   728 days
dtype: timedelta64[ns]

#### Problem 1.4 In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock.
( VWAP = sum(price * volume)/sum(volume) )
To know more about VWAP , visit - [VWAP definition](https://www.investopedia.com/terms/v/vwap.asp)

**Hint :**
1. Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions.
- Similarly, create a column ‘Year’ and initialize it. 
- Then use the 'groupby()' function by month and year. 
- Finally, calculate the vwap value for each month (i.e. for each group created).

In [16]:
itc.columns

Index(['Symbol', 'Series', 'Date', 'Prev Close', 'Open Price', 'High Price',
       'Low Price', 'Last Price', 'Close Price', 'Average Price',
       'Total Traded Quantity', 'Turnover', 'No. of Trades', 'Deliverable Qty',
       '% Dly Qt to Traded Qty'],
      dtype='object')

In [17]:
def VWAP(data):
    vwap = (df['Close Price'] * df['Total Traded Quantity']).sum() / df['Shares Traded'].sum()
    return vwap

In [18]:
itc['Month'] = pd.DatetimeIndex(itc['Date']).month
itc['Year'] = pd.DatetimeIndex(itc['Date']).year

C:\Users\Jesus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Jesus\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
itc.isnull().sum()

Symbol                    0
Series                    0
Date                      0
Prev Close                0
Open Price                0
High Price                0
Low Price                 0
Last Price                0
Close Price               0
Average Price             0
Total Traded Quantity     0
Turnover                  0
No. of Trades             0
Deliverable Qty           0
% Dly Qt to Traded Qty    0
Month                     0
Year                      0
dtype: int64

In [20]:
itc['VWAP'] = (itc['Close Price'] * itc['Total Traded Quantity']).cumsum() / itc['Total Traded Quantity'].cumsum()
itc_vwap = itc[['Month','Year','VWAP']]
groupByMonth = itc_vwap.groupby(['Month','Year'])

C:\Users\Jesus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
groupByMonth.first()

                  VWAP
Month Year
1     2018  283.835501
      2019  281.742471
2     2018  281.976690
      2019  281.853476
3     2018  280.954265
      2019  281.541809
4     2018  279.531435
      2019  282.057153
5     2017  277.950000
      2018  279.011747
      2019  282.680469
6     2017  299.454446
      2018  279.000495
7     2017  308.632808
      2018  278.185924
8     2017  303.993134
      2018  278.847949
9     2017  299.010232
      2018  280.881607
10    2017  293.090484
      2018  282.023783
11    2017  290.112685
      2018  281.939401
12    2017  286.046561
      2018  281.899606

#### Problem 1.5 Write a function to calculate the average price over the last N days of the stock price data 
where N is a user defined parameter. 

#### Write a second function to calculate the profit/loss percentage over the last N days.

#### Calculate the average price AND the profit/loss percentages over the course of last 
- 1 week, 
- 2 weeks, 
- 1 month, 
- 3 months, 
- 6 months and 
- 1 year.

{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

In [22]:
def avgNDayPrice(N):
    return itc['Average Price'].tail(N).mean()
def profitLossNDays(N):
    change = (itc['Close Price'].tail(N).iloc[N-1] - itc['Close Price'].tail(N).iloc[0])
    profit_loss_percen = (change/itc['Close Price'].tail(N).iloc[N-1])*100
    return abs(profit_loss_percen)

In [23]:
print("Average prices for last N days are as follows:")
print("1. Last 1 week average price:",round(avgNDayPrice(5),2))
print("2. Last 2 weeks average price:",round(avgNDayPrice(10),2))
print("3. Last 1 month average price:",round(avgNDayPrice(20),2))
print("4. Last 3 months average price:",round(avgNDayPrice(60),2))
print("5. Last 6 months average price:",round(avgNDayPrice(120),2))
print("6. Last 1 year average price:",round(avgNDayPrice(240),2))

Average prices for last N days are as follows:
1. Last 1 week average price: 300.17
2. Last 2 weeks average price: 302.19
3. Last 1 month average price: 302.49
4. Last 3 months average price: 292.49
5. Last 6 months average price: 287.1
6. Last 1 year average price: 286.37

In [24]:
print("Loss/Profit percentage for last N days are as follows:")
print("Last 1 week Loss/Profit percentage is:",round(profitLossNDays(5),2))
print("Last 2 weeks Loss/Profit percentage is:",round(profitLossNDays(10),2))
print("Last 1 month Loss/Profit percentage is:",round(profitLossNDays(20),2))
print("Last 3 months Loss/Profit percentage is:",round(profitLossNDays(60),2))
print("Last 6 months Loss/Profit percentage is:",round(profitLossNDays(120),2))
print("Last 1 year Loss/Profit percentage is:",round(profitLossNDays(240),2))

Loss/Profit percentage for last N days are as follows:
Last 1 week Loss/Profit percentage is: 4.36
Last 2 weeks Loss/Profit percentage is: 5.27
Last 1 month Loss/Profit percentage is: 1.87
Last 3 months Loss/Profit percentage is: 4.22
Last 6 months Loss/Profit percentage is: 5.12
Last 1 year Loss/Profit percentage is: 3.65

#### Problem 1.6: Adding a column 'Day_Perc_Change' 

Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. 

Instead of using the basic mathematical formula for computing the same, use `'pct_change()'` function provided by Pandas for dataframes. 

You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [25]:
itc['Day_Perc_Change'] = itc['Close Price'].pct_change().fillna(0)
itc.head(10)

C:\Users\Jesus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,ITC,EQ,2017-05-15,274.95,275.90,278.90,275.50,278.50,277.95,277.78,5462855,1.517477e+09,52501,4128324,75.57,5,2017,277.950000,0.000000
1,ITC,EQ,2017-05-16,277.95,278.50,284.30,278.00,283.00,283.45,280.93,11204308,3.147583e+09,98347,8307567,74.15,5,2017,281.647312,0.019788
2,ITC,EQ,2017-05-17,283.45,284.10,284.40,279.25,281.50,281.65,281.56,8297700,2.336261e+09,99107,5924804,71.40,5,2017,281.648205,-0.006350
3,ITC,EQ,2017-05-18,281.65,278.00,281.05,277.05,277.65,277.90,278.49,7924261,2.206822e+09,47830,5434449,68.58,5,2017,280.745118,-0.013314
4,ITC,EQ,2017-05-19,277.90,282.25,295.65,281.95,286.40,286.20,290.08,35724128,1.036268e+10,248579,19137631,53.57,5,2017,283.585253,0.029867
5,ITC,EQ,2017-05-22,286.20,292.45,304.80,291.30,303.00,303.60,299.75,35939315,1.077281e+10,250048,17079600,47.52,5,2017,290.465202,0.060797
6,ITC,EQ,2017-05-23,303.60,301.90,303.90,298.25,300.00,300.15,300.39,19784738,5.943114e+09,127039,12142585,61.37,5,2017,292.006261,-0.011364
7,ITC,EQ,2017-05-24,300.15,300.00,301.95,297.90,300.10,299.90,299.95,9457848,2.836837e+09,87850,6078221,64.27,5,2017,292.564262,-0.000833
8,ITC,EQ,2017-05-25,299.90,300.00,304.70,295.35,301.00,300.05,300.00,22769975,6.830908e+09,110127,16464978,72.31,5,2017,293.652947,0.000500
9,ITC,EQ,2017-05-26,300.05,302.00,313.80,299.55,306.10,309.10,305.48,21742467,6.641980e+09,155758,8123024,37.36,5,2017,295.536529,0.030162

#### Problem 1.7 Add another column 'Trend'

whose values are:
- `'Slight or No change'` for 'Day_Perc_Change' in between -0.5 and 0.5
- `'Slight positive'` for 'Day_Perc_Change' in between 0.5 and 1
- `'Slight negative'` for 'Day_Perc_Change' in between -0.5 and -1
- `'Positive'` for 'Day_Perc_Change' in between 1 and 3
- `'Negative'` for 'Day_Perc_Change' in between -1 and -3
- `'Among top gainers'` for 'Day_Perc_Change' in between 3 and 7
- `'Among top losers'` for 'Day_Perc_Change' in between -3 and -7
- `'Bull run'` for 'Day_Perc_Change' >7
- `'Bear drop'` for 'Day_Perc_Change' <-7

In [26]:
if ((itc['Day_Perc_Change'] >= -0.5) & (itc['Day_Perc_Change'] <= 0.5)).all():
    itc['Trend'] = 'Slight or No change'
if ((itc['Day_Perc_Change'] >= 0.5) & (itc['Day_Perc_Change'] <= 1)).all():
    itc['Trend'] = 'Slight positive'
if ((itc['Day_Perc_Change'] <= -0.5) & (itc['Day_Perc_Change'] >= -1)).all():
    itc['Trend'] = 'Slight negative'
if ((itc['Day_Perc_Change'] >= 1) & (itc['Day_Perc_Change'] <= 3)).all():
    itc['Trend'] = 'Positive' 
if ((itc['Day_Perc_Change'] <= -1) & (itc['Day_Perc_Change'] >= -3)).all():
    itc['Trend'] = 'Negative'
if ((itc['Day_Perc_Change'] >= 3) & (itc['Day_Perc_Change'] <= 7)).all():
    itc['Trend'] = 'Among top gainers'
if ((itc['Day_Perc_Change'] <= -3) & (itc['Day_Perc_Change'] >= -7)).all():
    itc['Trend'] = 'Among top losers'
if (itc['Day_Perc_Change'] > 7).all():
    itc['Trend'] = 'Bull run' 
if (itc['Day_Perc_Change'] < -7).all():
    itc['Trend'] = 'Bear drop' 
itc.head(10)

C:\Users\Jesus\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,ITC,EQ,2017-05-15,274.95,275.90,278.90,275.50,278.50,277.95,277.78,5462855,1.517477e+09,52501,4128324,75.57,5,2017,277.950000,0.000000,Slight or No change
1,ITC,EQ,2017-05-16,277.95,278.50,284.30,278.00,283.00,283.45,280.93,11204308,3.147583e+09,98347,8307567,74.15,5,2017,281.647312,0.019788,Slight or No change
2,ITC,EQ,2017-05-17,283.45,284.10,284.40,279.25,281.50,281.65,281.56,8297700,2.336261e+09,99107,5924804,71.40,5,2017,281.648205,-0.006350,Slight or No change
3,ITC,EQ,2017-05-18,281.65,278.00,281.05,277.05,277.65,277.90,278.49,7924261,2.206822e+09,47830,5434449,68.58,5,2017,280.745118,-0.013314,Slight or No change
4,ITC,EQ,2017-05-19,277.90,282.25,295.65,281.95,286.40,286.20,290.08,35724128,1.036268e+10,248579,19137631,53.57,5,2017,283.585253,0.029867,Slight or No change
5,ITC,EQ,2017-05-22,286.20,292.45,304.80,291.30,303.00,303.60,299.75,35939315,1.077281e+10,250048,17079600,47.52,5,2017,290.465202,0.060797,Slight or No change
6,ITC,EQ,2017-05-23,303.60,301.90,303.90,298.25,300.00,300.15,300.39,19784738,5.943114e+09,127039,12142585,61.37,5,2017,292.006261,-0.011364,Slight or No change
7,ITC,EQ,2017-05-24,300.15,300.00,301.95,297.90,300.10,299.90,299.95,9457848,2.836837e+09,87850,6078221,64.27,5,2017,292.564262,-0.000833,Slight or No change
8,ITC,EQ,2017-05-25,299.90,300.00,304.70,295.35,301.00,300.05,300.00,22769975,6.830908e+09,110127,16464978,72.31,5,2017,293.652947,0.000500,Slight or No change
9,ITC,EQ,2017-05-26,300.05,302.00,313.80,299.55,306.10,309.10,305.48,21742467,6.641980e+09,155758,8123024,37.36,5,2017,295.536529,0.030162,Slight or No change

#### Problem 1.8 Finding the average and median values 

Find the average and median values  of the column 'Total Traded Quantity' for each of the types of 'Trend'.

**`Hint :`** use `'groupby()'` on the `'Trend'` column and then calculate the average and median values of the column `'Total Traded Quantity'`

In [27]:
avg_trend_quality = itc.groupby(itc.Trend).mean()['Total Traded Quantity']
median_trend_quality = itc.groupby(itc.Trend).median()['Total Traded Quantity']

print('Average value of the column Total Traded Quantity for each of the types of Trend', avg_trend_quality)
print('*' * 90)
print('Median value of the column Total Traded Quantity for each of the types of Trend', median_trend_quality)

Average value of the column Total Traded Quantity for each of the types of Trend Trend
Slight or No change    1.207847e+07
Name: Total Traded Quantity, dtype: float64
******************************************************************************************
Median value of the column Total Traded Quantity for each of the types of Trend Trend
Slight or No change    9834132.5
Name: Total Traded Quantity, dtype: float64

#### Problem 1.9 saving the dataframe 

1.9 SAVE the dataframe with the additional columns computed as a csv file week2.csv.

In [28]:
itc.to_csv('week2.csv')